.ShowMyFriendList-h5 {
    color: #A9A9A9;
}
.ShowMyFriendList-icon {
    color: #FF3B3F;
}

.ShowMyFriendList-button:focus {
    background: white;
}

.ShowMyFriendList-button:active {
    background: white;
}

.ShowMyFriendList-button {
    border: none;
    background: #EFEFEF;
}