.NavBar {
    background: #ffffff;
    color: #A9A9A9;
}

.NavBar-color a {
    color: #A9A9A9;
}


.NavBar ul li a:hover {
    color: #FF3B3F;
    background: white;
}

.NavBar-pipe {
    color: #A9A9A9;
}

nav .brand-logo {
    color: #A9A9A9;
}

.button-collapse i {
    color: #A9A9A9;
}