.card-content {
    height: 170px !important;
}

.card-action a {
    color: #FF3B3F !important;
}

.card-action a:hover {
    color: #A9A9A9 !important;
}

.card .card-image img {
    width: 55%;
    margin: 0 auto;
}

.ShowPodcast-icon {
    color: #CAEBF2;
}

.ShowPodcast-button {
    border: none;
    background: white;
}